
<body style="font-family: 'Questrial', sans-serif">

		<table class="table" width="100%" align="center" cellpadding="10" cellspacing="1">
		    
		      <thead style="width: 100%" colspan="2">
		      <tr>
			      <td align="center" style="background-image: repeating-linear-gradient(90deg, #ccc, #ccc 20px, #dbdbdb 20px, #dbdbdb 40px, #ebebeb 40px, #ebebeb 60px);" height="30px" colspan="12">
			          <p hspace="15">We'll get back to you soon !</p>
			      </td>
			    </tr>
		      </thead>

		      <tbody>
			      <tr>
			      
			      	<td style="border: 1px solid #ccc;" colspan="5"><br>

			      	<p >Thank you for you email!<br></p>
			      	<p style="font-size: 14px">Lorem Ipsum is simply dummy text of the printing and typesetting industry. <br>Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. <br>
			      	<p><%= @message %><br></p>
		       		
		       		</td> 
		
			        <td colspan="7" style="background-image: repeating-linear-gradient(180deg, #ccc, #ccc 30px, #dbdbdb 30px, #dbdbdb 60px" align="center" >
								 <p><img class="img-fluid" src="../../../assets/aemail.png" style="width: 100%" ><div>
          
							</td> 			
						</tr>
						<tr>
			     		<td align="center" style="background-image: repeating-linear-gradient(90deg, #ccc, #ccc 20px, #ff9933 20px, #ff9933 40px, #ebebeb 40px, #ebebeb 60px);" width="100%" height="30px" colspan="12">
				          <p hspace="15">@2017 Amine Ruby Project
				          	<img class="img-fluid" src="../../../assets/f.png" style="width: 4%" hspace="15">
				          	<img class="img-fluid" src="../../../assets/t.png" style="width: 4%" hspace="15">
				          	<img class="img-fluid" src="../../../assets/in.png" style="width: 4%" hspace="15">
				          	<a href="https://amineruby.herokuapp.com/">www.aminerubyproject.com</a>
				          </p>
				      </td>
						</tr>	
					</tbody>

		</table>  
</body>