// _orders.scss

#orderinput {
  width: 50px;
  border-radius: 4px;
  margin: 5px;
}

#inlineFormCustomSelect {
  margin-right: 5px;
  margin-left: 5px;
  width: 320px;
  height: 40px;
}

#quantity {
  margin-top: 10px;
}