

<h1>Products</h1>

<div class="container-fluid" >
  <div class="row text-center" id="productmain">
    
    <% @products.each do |product| %>
		<%= render product %>
		<% end %>
	
		<div class="butmain">

		<% if signed_in? && current_user.admin? %>
			<button class="btn btn-warning btn-lg"><%= link_to 'New Product', new_product_path %></button>
		<% end %>
			<button class="btn btn-warning btn-lg"><%= link_to 'Carousel Gallery', static_pages_landing_page_path %></button>

    	<button class="btn btn-success btn-lg"><%= link_to 'Back', products_path %></button>

		</div>
		
		</div>
		
  </div>
</div>




    
